.card {
    margin-bottom: 20px;
    border: none
}
.bodyl {
    position: absolute;
    z-index: -1;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: linear-gradient(to right, rgb(50, 166, 187), 15%, rgb(140, 89, 198) ,rgb(168, 113, 160) );
}
.text{
   color: rgb(35, 58, 60);
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 60%;
    border-radius: 25px;
    
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: #8a3b91;;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(43 21 124);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    font-weight: 500
}

.box input[type="text"]:focus,
    
     
     
.box input[type="password"]:focus {
    width: 300px;
    border-color:  rgb(156, 142, 222);
    
}
input[type=text]::placeholder,input[type=password]::placeholder{
    color:rgb(198, 183, 183);
}


.box input[type="submit"] {
    border: 0;
    background: linear-gradient(to right, rgb(156, 142, 222), 50%, rgb(226, 225, 221) );
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  rgb(156, 142, 222);
    padding: 14px 40px;
    outline: none;
    color: rgb(77, 66, 66);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background:linear-gradient(to right, rgb(156, 142, 222), 50%, rgb(195, 193, 186) );
}


.error-message{
    position: absolute;
    top : 500px;
    left: 590px;
    width: 340px;
    text-align: center;
}